[submodule "libarchive"]
	path = libarchive
	url = git@github.com:rsenn/libarchive.git
	branch = main
[submodule "pigpio"]
	path = pigpio
	url = git@github.com:rsenn/pigpio.git
	branch = main
[submodule "libutf"]
	path = libutf
	url = https://github.com/NolanRus/libutf
	branch = main
