[submodule "libarchive"]
	path = libarchive
	url = https://github.com/libarchive/libarchive
	branch = main
[submodule "pigpio"]
	path = pigpio
	url = https://github.com/joan2937/pigpio
	branch = main
[submodule "libutf"]
	path = libutf
	url = https://github.com/NolanRus/libutf
	branch = main
[submodule "tutf8e"]
	path = tutf8e
	url = https://github.com/nigels-com/tutf8e
	branch = master
[submodule "libserialport"]
	path = libserialport
	url = git@github.com:rsenn/libserialport.git
	branch = cmake
[submodule "libbcrypt"]
	path = libbcrypt
	url = https://github.com/rg3/libbcrypt
[submodule "third_party/wasm3"]
	path = third_party/wasm3
	url = git@github.com:rsenn/wasm3.git
	branch = main
[submodule "third_party/wasm30"]
	path = third_party/wasm30
	url = git@github.com:Geckos-Ink/wasm30.git
	branch = main
